{% extends "myfirstapp/main.html" %}
<!-- définition de ce que contiendra la balise title du head -->
{% block title %}
    Mon formulaire
{% endblock %}
{% block content %}
    <!-- les champs de formulaires -->
    {{block.super}} <!-- récupére les données par défaut du bloc content du squelette -->
    <form action="/myfirstapp/bonjour" method="get" />
    {% csrf_token %}
        <label for="nom"> Nom :</label>
        <input type="text" name="nom"/>
        <label for="prenom"> Prenom :</label>
        <input type="text" name="prenom"/>
        <input type="submit" value="envoyer"/>
    </form>
{% endblock %}
